.top-padded{
	padding-top: 100px;
}

footer{
	background-color: green;
}

footer p {

	text-align: center;
	font-size: 20px;
	color:white;
}

.margined-left{
	margin:50px;
}

.bottom-margin{
	margin-bottom: 2px;
}