.content {
  margin-top: 6%; 
  margin-left: 18.5%;
}

.dashboard-activities {
  margin-top: 10%;
}

.admin-dashboard-table {
  margin-top: 6%;
  margin-left: 10%;
}

.notification {
     padding-right: 265px;
  padding-left: 265px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .notification {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .notification {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .notification {
    width: 1170px;
  }

.login-form {
    border: 1px solid #e8e8e8;
    padding: 40px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .08);
          box-shadow: 0 2px 2px rgba(0, 0, 0, .08);
}

.form-heading {
    padding-bottom: 30px;
}

.my-profile, .view, .update, .something-else, .logout {
  margin-top: 10px;
}

/*REGISTER MEMBER*/

#major-activity-boxes {
  margin-left: 60%;
}

#action-btn {
  margin-bottom: 10px;
}

.bidders td {
  padding: 18px 30px 2px 20px;
}

.bidders img {
  margin-top: 6px;
}

.media-heading {
  font-size: 1rem;
}